.web_index
  .row
    .menubar
      %span.info= current_user.email
      %ul
        %li
          %a{href: "javascript:(function(){ window.Config = { server: '#{root_url}', url: function(url) { return this.server + url; } }; var s=document.createElement('script'); s.setAttribute('id', '_linkrbot_bookmarklet_script_'); s.setAttribute('src', '#{root_url}assets/bookmarklet.js'); document.body.appendChild(s);})()"} Bookmarklet

        %li
          = link_to 'Logout', destroy_user_session_path, :method => :delete

      .clearfix

  .row
    .sub-header-bar

      %form{method: 'get', action: search_path}
        %a{href: root_path}<
          %img.logo-badge{src: '/assets/badge_small.png'}
        %input.span8.big-search-bar{type: 'text', name: 'q', value: @query}
        %input.search-button{type:'image', src: '/assets/search_button.png'}

  .row
    .sub-sub-header
      .row
        .span2.center
          %h2 Search
        .span8
          %h5 #{@results.count} results found (#{'%.2f' % @time}ms)
      .clearfix

  .row
    .results
      - if @results.blank?
        %h2.center No results found
      - else
        - @results.each do |result|
          .row
            .span8.offset2
              .result-box
                - keywords = @query.split
                .row
                  .title.span10= link_to highlight(result.title, keywords), result.url, :target => 'blank'
                .row
                  .url.span10= truncate(result.url, :length => 80)
                - peak = excerpt result.content, @query, :radius => 100
                - keywords.each {|kw| peak ||= excerpt(result.content, kw, :radius => 150) }
                - peak ||= truncate result.content, :length => 100
                - peak = highlight peak, keywords
                .row
                  .content.span6= peak
