.register
  .row
    .span4.offset4
      %h2 Sign up

      = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'well'}) do |f|
        = devise_error_messages!

        = f.label :email
        = f.email_field :email

        = f.label :password
        = f.password_field :password

        = f.label :password_confirmation
        = f.password_field :password_confirmation

        %hr

        = f.submit "Sign up", :class => 'btn btn-large pull-right'
        .clearfix

      = render :partial => "devise/shared/links"
