.user_index
  .row
    .menubar
      %span.info= current_user.email
      %ul
        %li
          %a{href: "javascript:(function(){ window.Config = { server: '#{root_url}', url: function(url) { return this.server + url; } }; var s=document.createElement('script'); s.setAttribute('id', '_linkrbot_bookmarklet_script_'); s.setAttribute('src', '#{root_url}assets/bookmarklet.js'); document.body.appendChild(s);})()"} Bookmarklet

        %li
          = link_to 'Logout', destroy_user_session_path, :method => :delete

      .clearfix

  .row.big-header
    .offset2
      %img{src: '/assets/logo2.png'}


  .row.big-form
    %form{method: 'get', action: search_path}
      .offset2
        %input.span7.big-search-bar{type: 'text', name: 'q', placeholder: 'Search here'}
        %input.search-button{type:'image', src: '/assets/search_button.png'}

