.login
  .row
    .span4.offset4
      %h2 Login
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'well'}) do |f|

        = f.label :email
        = f.email_field :email

        = f.label :password
        = f.password_field :password

        = f.label :remember_me do
          = f.check_box :remember_me
          Remember me

        %hr

        = f.submit "Sign in", :class => 'btn btn-large pull-right'
        .clearfix

      = render :partial => "devise/shared/links"
