h1, h2, h3, h4, h5 {
  // font-family: 'Viga', sans-serif;
  // font-family: 'Baumans', sans-serif;
  // font-family: 'Michroma', sans-serif;
  // font-family: 'Righteous', sans-serif;
  // font-family: 'Dosis', sans-serif;
  font-family: 'Cardo', sans-serif;
  color: #e04203;
}

label, .btn {
  // font-family: 'Viga', sans-serif;
  font-family: 'Advent Pro', sans-serif;
  font-size: 16px;
}

.btn {
  background-image: none;
  background-color: #fff;
}

.header {
  margin-top: 50px;
}

.btn-xlarge {
  font-size: 30px;
  padding: 15px 70px 15px 70px;
  position: relative;
  top: -100px;
  background-image: none;
  background-color: #e04203;
  # color: #dbd8d1;
  color: #fff;
  text-shadow: none;
}

.login, .register {
  .row {
    margin-top: 100px;
  }
}
