// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_index, .web_index {

  .menubar {
    border-bottom: 1px solid whiteSmoke;
    font-family: 'Advent Pro', sans-serif;
    font-size: 16px;
    margin-top: 10px;

    ul {
      float: right;
    }

    li {
      display: inline;
      padding: 5px 10px;
    }

    li:hover {
      background-color: whiteSmoke;
    }

    a {
      color: #333;
      text-decoration: underline;
    }

    span.info {
      font-family: 'Cardo', sans-serif;
      color: #e04203;
      font-size: 14px;
      padding: 5px 10px;
    }
  }
}

.big-header {
  margin-top: 60px;
}

.big-form {
  margin-top: 50px;
}

input.big-search-bar {
  padding: 15px 12px;
  font-size: 20px;
}

.search-button {
  width: 65px;
  position: relative;
  left: 15px;
  top: -3px;
}
