.web_index {

  form {
    margin: 0;
  }

  .menubar {
    border-bottom: 1px solid whiteSmoke;
  }

  .sub-header-bar {
    background-color: whiteSmoke;
    padding: 5px 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid #ddd;

    .logo-badge {
      position: relative;
      left: 22px;
    }
  }

  input.big-search-bar {
    padding: 15px 12px;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 70px;
  }

  .search-button {
    width: 50px;
    height: 50px;
    position: relative;
    left: 5px;
    top: 3px;
  }

  .sub-sub-header {
    border-bottom: 1px solid #ddd;
    h2 {
      font-family: 'Advent Pro', sans-serif;
    }
    h5 {
      font-family: 'Advent Pro', sans-serif;
      color: #888;
      line-height: 40px;
    }
  }

  .center {
    text-align: center;
  }

  .results {
    margin-top: 20px;

    .result-box {
      margin-bottom: 20px;

      .title {
        font-size: 20px;
        font-family: 'Cardo', sans-serif;
        text-decoration: underline;
        margin-bottom: 5px;
        strong {
          color: darken(#08c, 15%);
        }
      }
      .url {
        color: #093;
        margin-bottom: 5px;
      }
      .content {
        color: #666;
        strong {
          color: black;
        }
      }
    }
  }
}
