!!!
%html
  %head
    %title Linkr
    %link{href:'http://fonts.googleapis.com/css?family=Viga', rel:'stylesheet', type:'text/css'}
    %link{href:'http://fonts.googleapis.com/css?family=Baumans', rel:'stylesheet', type:'text/css'}
    %link{href:'http://fonts.googleapis.com/css?family=Michroma', rel:'stylesheet', type:'text/css'}
    %link{href:'http://fonts.googleapis.com/css?family=Righteous', rel:'stylesheet', type:'text/css'}
    %link{href:'http://fonts.googleapis.com/css?family=Dosis', rel:'stylesheet', type:'text/css'}
    %link{href:'http://fonts.googleapis.com/css?family=Cardo', rel:'stylesheet', type:'text/css'}
    %link{href:'http://fonts.googleapis.com/css?family=Advent+Pro:300', rel:'stylesheet', type:'text/css'}
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    .container

      = yield
